# 현재 가동 환경
# development 또는 production
ENVIRONMENT=

# 데이터베이스
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_NAME=
POSTGRES_DB=

# JWT
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_EXPIRE_HOURS=

# Refresh Token
REFRESH_TOKEN_EXPIRE_DAY=

# 구글 OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# ---URL ---
OLLAMA_BASE_URL=
FRONTEND_URL=

# --- [신규] AWS document 설정 (WBS 3.3) ---
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
AWS_REGION=
